.app-body-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: var(--spacing-1);
	flex-wrap: wrap;
}
.app-body {
	max-width: 1320px;
	display: flex;
	flex-direction: column;
}

.right-side-bar {
	max-width: 200px;
}
