.text-field-edit {
	border: 1px solid var(--color-grey-400);
	border-radius: 4px;
	padding: 0.2rem;
	padding-left: 0.6rem;
}

.form-div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-width: 300px;
}
